{% extends "main.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 panel panel-default panel-body">
			<h4>Create Item</h4>
			<hr>
			<form method = "post">
				<div class="form-group">
				<p>Item Name:</p>
				<input type ="text" class="form-control" maxlength="20" name="name">
				<br>
        <p>Description:</p>
				<input type ="text" class="form-control" maxlength="250" name="description">
				<br>
				<button type="submit" class="btn btn-success" id="submit" type="submit">Create</button>
				<a href="/" class="btn btn-warning">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
