{% extends "main.html" %}
{% block content %}
<div class="container" align="center">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default panel-body">
            <h4 id="title">Please sign in with</h4>
            <hr>
            <form class="googleSignin">
                <div class="panel panel-default panel-body" id="GSignIn"><img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" style="width:16px;height:16px;"> Google</div>
                <div id="result"></div>
            </form>
          </div>
        </div>
    </div>
</div>

<script>
    function signInCallback(authResult) {
        if (authResult['code']) {
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main categories page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    result_json = JSON.parse(result)
                    if (result) {
                        // Hide the sign-in button now that the user is authorized
                        $('#GSignIn').attr('style', 'display: none');
                        $('#title').html('Welcome ' + result_json.username.toProperCase() + '!');
                        $('#result').html('<img src="' + result_json.image + '" alt="' + result_json.username + '" class="img-circle" style="width:140px; height:140px;"><br>' + '<br><h4>Redirecting...</h4>');
                        setTimeout(function() {
                            window.location.href = "/catalog";
                        }, 2000);


                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        // Hide the sign-in button now that the user is authorized
                        $('#GSignIn').attr('style', 'display: none');
                        $('#title').html('There was an error!');
                        $('#result').html('<h4>Failed to make a server-side call. Check your configuration and console.</h4>');
                    }

                }

            });
        }
    }
</script>
{% endblock %}
