<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>557113248079-tsah0ak9ak0qpnitnjq5li109131u3j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557113248079-tsah0ak9ak0qpnitnjq5li109131u3j8</string>
	<key>API_KEY</key>
	<string>AIzaSyBlGdhXxt3TYxAmvsBpThOrWc2HobxdsYA</string>
	<key>GCM_SENDER_ID</key>
	<string>557113248079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groupname.howmuch.HowMuch</string>
	<key>PROJECT_ID</key>
	<string>qhacks-fb832</string>
	<key>STORAGE_BUCKET</key>
	<string>qhacks-fb832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:557113248079:ios:df09928a75447198</string>
	<key>DATABASE_URL</key>
	<string>https://qhacks-fb832.firebaseio.com</string>
</dict>
</plist>